[submodule "src/lang/dreml"]
	path = src/lang/dreml
	url = git@github.com:pippijn/dreml.git
[submodule "src/net/json"]
	path = src/net/json
	url = git@github.com:pippijn/pa_json.git
[submodule "src/net/unpack"]
	path = src/net/unpack
	url = git@github.com:pippijn/pa_unpack.git
[submodule "src/lang/treematch"]
	path = src/lang/treematch
	url = git@github.com:danmey/treematch.git
[submodule "src/lang/re2ml"]
	path = src/lang/re2ml
	url = git@github.com:pippijn/re2ml.git
[submodule "src/lang/merr"]
	path = src/lang/merr
	url = git@github.com:pippijn/merr.git
[submodule "src/lang/hm"]
	path = src/lang/hm
	url = git@github.com:pippijn/hm-infer.git
[submodule "src/lang/glr"]
	path = src/lang/glr
	url = git@github.com:pippijn/glr.git
[submodule "src/lang/cparser"]
	path = src/lang/cparser
	url = git@github.com:pippijn/cparser.git
[submodule "src/lang/ccparse"]
	path = src/lang/ccparse
	url = git@github.com:pippijn/cparseparse.git
[submodule "src/games/spring"]
	path = src/games/spring
	url = git@github.com:pippijn/mlspring.git
[submodule "src/games/deliantra"]
	path = src/games/deliantra
	url = git@github.com:pippijn/deliantra.git
[submodule "src/devel/widget"]
	path = src/devel/widget
	url = git@github.com:pippijn/mlwidgets.git
[submodule "src/devel/mlsmoke"]
	path = src/devel/mlsmoke
	url = git@github.com:pippijn/mlsmoke.git
[submodule "src/devel/codegen"]
	path = src/devel/codegen
	url = git@github.com:pippijn/codegen.git
[submodule "src/devel/baselib"]
	path = src/devel/baselib
	url = git@github.com:pippijn/baselib.git
[submodule "src/devel/ucslib"]
	path = src/devel/ucslib
	url = git@github.com:pippijn/ucslib.git
[submodule "src/lang/aldor"]
	path = src/lang/aldor
	url = git@github.com:pippijn/obuild-aldor.git
[submodule "src/lang/jmlc"]
	path = src/lang/jmlc
	url = git@github.com:pippijn/jmlc.git
[submodule "src/lang/yaccpp"]
	path = src/lang/yaccpp
	url = git@github.com:pippijn/yaccpp.git
[submodule "src/devel/makequick"]
	path = src/devel/makequick
	url = git@github.com:pippijn/makequick.git
[submodule "src/devel/debuglib"]
	path = src/devel/debuglib
	url = git@github.com:pippijn/debuglib.git
[submodule "src/net/web/pippijn.github.io"]
	path = src/net/web/pippijn.github.io
	url = git@github.com:pippijn/pippijn.github.io.git
[submodule "src/net/web/generator"]
	path = src/net/web/generator
	url = git@github.com:pippijn/webgenerator.git
[submodule "src/net/web/xinutec.github.io"]
	path = src/net/web/xinutec.github.io
	url = git@github.com:xinutec/xinutec.github.io
