Source: obuild
Section: devel
Priority: optional
Maintainer: Pippijn van Steenhoven <pip88nl@gmail.com>
Uploaders: 
  Pippijn van Steenhoven <pip88nl@gmail.com>
Build-Depends:
  debhelper (>= 8.0.0)
Standards-Version: 3.9.2
Homepage: https://github.com/pippijn/obuild
Vcs-Git: git://github.com/pippijn/obuild
Vcs-Browser: https://github.com/pippijn/obuild

Package: obuild
Architecture: any
Depends:
  ${shlibs:Depends},
  ${misc:Depends},
  libcommon-sense-perl
  libdir-self-perl
  libjson-xs-perl
  libtext-csv-perl
  libwww-perl
  ocaml-nox,
  omake,
Description: Build system on top of OMake
 TODO.
